@media (max-width: 767px) {
    .header{
    height: 90px !important;
    div{
        justify-content: center;
        margin-top: 10px;
    }
}
}

.name{
    text-decoration: none;
    color: black;
}